/*index.html*/
#logo {
  width: 250px;
  height: 15vh;
}

body {
  margin: 0px;
}

#baner {
  display: flex;
  gap: 300px;
  border-bottom: solid green 3px;
  background-color: green;
  align-items: center;
}
/*kursy.php*/

#języki {
  background-color: rgb(36, 184, 36);
  height: 85vh;
}
