/* Resetowanie domyślnych styli */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff; /* Białe tło */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif; /* Dodany font-family dla całej strony */
}

#logowanie {
  border: solid #000000 3px; /* Czarna ramka */
  border-radius: 5px;
  background-color: #808080; /* Szare tło */
  width: 500px;
  padding: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc; /* Jasnoszare obramowanie */
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #0000ff; /* Niebieski przycisk */
  color: #ffffff; /* Biały tekst */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00008b; /* Ciemniejszy odcień niebieskiego po najechaniu */
}

.error-message {
  color: #ff0000; /* Czerwony kolor dla komunikatu o błędzie */
  margin-top: 10px;
}

#rej {
  margin-top: 20px;
  text-align: center;
}

/* Dodany kontener dla odnośnika */
#rej-container {
  display: flex;
  justify-content: center;
}

/* Drobne poprawki */
h1 {
  font-size: 22px;
}

a {
  color: #0000ff; /* Niebieski kolor dla odnośnika */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
